body{
    background-color:#f4d03f;
}

img{
        position: relative;
        bottom: 40px;
        width: 1500px;
        height: 1000px;
        display: block;
        margin: 0px auto;
        
}

article{
    width: 1400px;
    height: 1000px;
    position: relative;
    bottom: 350px;

    border: 2px solid #bbb;
    padding: 3em;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    background-color:white;
    text-align: left;
    }
    

h1{
    color: #f4d03f;
}

h2{
    position: relative;
    bottom: 10px;
   text-align: center;
    background-color:#3498db;
    color: white;
    width: 1450px;
    border: 1px solid #bbb;
    padding: 1em;
    margin: auto;
    font-weight: bold;
}

footer{
    position: relative;
    bottom: 400px;
   text-align: center;
    background-color:#3498db;
    color: white;
    width: 1470px;
    border: 1px solid;
    padding: 1em;
    margin: auto;
    font-weight: bold;
}

.carre1 {
    background-color: #3498db;
    width : 200px; 
    height :120px;
    
    display: flex;
    left: 50px;
    bottom: 100px;
  }

li,a{
    color: white;
   
    text-align: center;
}


.carre2 {
    background-color: #3498db;
    width : 400px; 
    height :400px;
    float: right;
    
    display: flex;
    left: 50px;
    bottom: 100px;
   
}


  .texte2,h3{
    color: white;
    text-align: center;
  }

  .Matt{
    width: 200px;
    height: 200px;
  }
