body{
    background-color:yellow;
}

img{
        position: relative;
        bottom: 40px;
        width: 1500px;
        height: 1000px;
        display: block;
        margin: 0px auto;
        
}

article{
    width: 1400px;
    height: 800px;
    position: relative;
    bottom: 350px;

    border: 2px solid #bbb;
    padding: 3em;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    background-color:white;
    text-align: left;
    }
    

h1{
    color: yellow;
}

h2{
    position: relative;
    bottom: 10px;
   text-align: center;
    background-color:#0413e2;
    color: white;
    width: 1450px;
    border: 1px solid #bbb;
    padding: 1em;
    margin: auto;
    font-weight: bold;
}

footer{
    position: relative;
    bottom: 400px;
   text-align: center;
    background-color:#0413e2;
    color: white;
    width: 1470px;
    border: 1px solid #bbb;
    padding: 1em;
    margin: auto;
    font-weight: bold;
}

section {
    background-color: blue;
    width : 200px; 
    height :120px;
    
    display: flex;
    left: 50px;
    bottom: 100px;
  }

li,a{
    color: white;
   
    text-align: center;
}